fastapi
uvicorn[standard]
python-multipart

langchain
langchain-community
langchain-core
langchain-groq
langchain-openai

pinecone

PyPDF

python-dotenv

pydantic
requests
tqdm

pymongo>=4.13.2
dnspython>=2.7.0
certifi>=2025.7.14

bcrypt
